{% extends 'base.html' %}
{% block title %}SMArt SureScripts Connector{% endblock %}
{% block body_params %}{% if smart_access_token and not hospital_access_token%}onload="load()"{%endif%}{% endblock %}
{% block content %}

<h2 align="center">SMArt Connector</h2>

<!--<p>  Setting up the connector is a two-step process: </p>-->

<ol>
<li>Connect to SMArt{% if smart_access_token %} &#x2713;<font size=-2>({{smart_access_token}})</font>{%else%}:

 <a href="{%url connector.views.indivo_start_auth%}">Go!</a>
{%endif%}
</li>

<li>Connect to SureScripts (proxied by RI) &#x2713;   </li>

<li>Connect to Google H9 {% if smart_access_token and not hospital_access_token%}:
 <a href="{%url connector.views.hospital_start_auth%}" target="_new">Go!</a>
{%else%}{% if smart_access_token and hospital_access_token%}
&#x2713;  <font size=-2>({{hospital_access_token}})</font>
{%endif%}
{%endif%}

</li>

<li>Connect to Microsoft HealthVault {% if smart_access_token and not hv_access_token%}:
 <a href="{%url connector.healthvault.healthvault_start_auth%}" target="_new">Go!</a>
{%else%}{% if smart_access_token and hv_access_token%}
&#x2713;  <font size=-2>({{hv_access_token}})</font>
{%endif%}
{%endif%}

</li>


</ol>


<p>If you change your mind, you may
<a href="{%url connector.views.reset%}">Stop the Connector</a>.</p>

{% if smart_access_token and not hospital_access_token%}
<script>
var load = function() {

window.addEventListener("message", receiveMessage, false);

function receiveMessage(event)
{
  var thisloc = location.protocol+"//"+location.host;
  if (event.origin !== thisloc)
    alert("Got message from wrong origin: " + thisloc + " vs. " + event.origin);
  
  if (event.data === "Auth Complete") {
     window.location.reload();
  }

}

};
</script>
{% endif %}

{% endblock %}
